@model Messages.State
@{
    ViewBag.Title = "Index";
}

<h2>In Queue</h2>

<ul>
    @foreach (var id in Model.InQueue)
    {
        <li>
            <h2>RouteStep: @id.Key</h2>
            <ul>
                @foreach (var item in id.Value)
                {
                    <li>@item</li>
                }
            </ul>
        </li>
    }
</ul>
