@model IList<Domain.WipItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>Wip at Scrap</h2>
<div>
    <ul>
    @foreach (var wip in Model)
    {
        <li>
            @wip.Id (@wip.Station)

            @using (Html.BeginForm("Scrap", "Scrap", wip))
            {
                <input type="submit" value="Scrap"/>    
            }
        </li>   
    }
    </ul>
</div>
